# ==========================================
# Backend Service Configuration
# ==========================================
PORT=5000
PYTHON_SERVICE_URL=http://localhost:8000
FIREBASE_SERVICE_ACCOUNT_PATH=./backend/smart-surplus-food-recovery-firebase-adminsdk-fbsvc-52ef898338.json

# ==========================================
# Frontend Configuration
# ==========================================
NEXT_PUBLIC_API_URL=http://localhost:5000/api
